<h1>Users</h1>

<ul>
{{#each models}}
  <li>
    <a href="/users/{{login}}">{{login}}</a>
  </li>
{{/each}}
</ul>

<script>
// it's a hack, will be made proper in the step 3 of the changes
var firstPage = function(callback)
{
  require(
  [ 'app/collections/users'
  , 'app/views/users/index'
  ], function(){ callback(); });
}
</script>
