node_modules
tmp
npm-debug.log
coverage
*.swp
examples/*/node_modules
examples/**/compiledTemplates.js
examples/*/public/mergedAssets.js
examples/*/test/stitched.js
examples/*/public/styles.css
.DS_Store
runtime.json
