<h1>Wecome to GitHub Browser!</h1>
<p>This is a little app that demonstrates how to use Rendr by consuming GitHub's public Api.</p>
<p>Check out <a href="/repos">Repos</a> or <a href="/users">Users</a>.</p>

<p>There have been {{count}} requests to this app in your session.</p>

<p>{{copyright "2013"}}</p>
